<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>מערכת ספקים</title>
  <link rel="stylesheet" href="/styles/homePage-style.css" />

</head>

<body>
  <div class="background"></div>
  <div class="container">

    <h1>ברוך הבא למערכת הספקים</h1>
    <a href="/s/login"><button>התחברות</button></a>
    <a href="/s/reg"><button>הרשמה</button></a>
  </div>
</body>

</html>